@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display Variable", serif;
  --font-inter: "Inter Variable", sans-serif;
  --default-font-family: var(--font-inter);

  --color-primary: var(--color-green-800);
  --color-primary-focus: var(--color-green-700);
}

a {
  @apply cursor-pointer;
}

@utility btn {
  @apply rounded-lg bg-primary px-4 py-2 text-white hover:cursor-pointer hover:bg-primary-focus;
}

@utility divider {
  @apply h-[calc(var(--spacing)*.25)] w-full bg-gray-300;
}
